/* @import url(./box.css); */

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: 1s;
}

.box:focus {
    width: 300px;
    background-color: royalblue;
}

input {

}

input:focus {
    background-color: orange;
}

.fruits *:nth-child(2n+1) {
    color: red;
}

.pseudo-element::before {
    content: "앞!";
}

.pseudo-element::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: royalblue;
}

[type="password"] {
    background-color: orange;
}

[data-fruit-name] {
    color: red;
}